---
import Layout from '../layouts/Layout.astro';
import Contador from '../components/Contador.astro';	
import Informacion from '../components/Informacion.astro';
---

<Layout >
    
    <div>
        <img src="matrimonio.png" alt="ImagenAnillos" class="z-2">
        <Contador />
        <img src="floral.svg" alt="Floral Image" class="z-1 h-1/12 -mt-72">
    </div>
    <Informacion />
    
    <h1 class="text-center  text-6xl">
        Diana Quesada <br>  & <br> Johan Lopez
    </h1>
    
</Layout>
