---
import Layout from '../layouts/Layout.astro';
import Contador from '../components/Contador.astro';	
import Informacion from '../components/Informacion.astro';
---

<Layout>
    
    <Contador />
	<Informacion />
    
    <h1 class="text-center  text-6xl">
        Diana Quesada <br>  & <br> Johan Lopez
    </h1>
    
</Layout>
