---
import Layout from '../layouts/Layout.astro';
import Contador from '../components/Contador.astro';	
---

<Layout>
    <h1 class="text-center italic text-4xl">
        Diana Quesada <br>  & <br> Johan Lopez
    </h1>
    
    <Contador />

    
</Layout>
