---
import Layout from '../layouts/Layout.astro';
import Contador from '../components/Contador.astro';	
import Informacion from '../components/Informacion.astro';
---

<Layout >
    
    <div class="h-1/2">
        <img src="matrimonio.jpeg" alt="ImagenAnillos" class="z-2">
        <Contador />
        <img src="floral.svg" alt="Floral Image" class="z-1 h-1/12 -mt-72">
    </div>
    <div class="h-dvh flex flex-col items-center justify-center bg-white">
        <h1 class="text-center text-4xl">
            Diana Quesada <br>  & <br> Johan Lopez
        </h1>
    </div>
    
    <Informacion />
    
</Layout>
