---
// Supports weights 200-800
import '@fontsource-variable/karla';
import Layout from '../layouts/Layout.astro';
import Contador from '../components/Contador.astro';	
import Informacion from '../components/Informacion.astro';
import Gracias from '../components/Gracias.astro';
import 'aos/dist/aos.css';
---

<Layout >
  <div class="z-9">
   <!-- <img src="matrimonio.jpeg" alt="ImagenAnillos" class="z-2 h-1/2"> -->
   <div class="h-dvh flex flex-col items-center justify-center m-8">
       <h1 class="text-center text-4xl font-bold text-wrap "data-aos="flip-left"  data-aos-duration="500">
           Diana Quesada <br>& Johan Lopez
           <Contador  />
       </h1>
   </div>
       
    
    <Gracias />    
    <Informacion  />

    
</Layout>


<style>
  @import "aos/dist/aos.css";

	body {
	font-family: 'Karla Variable', sans-serif;
  }
</style>


