<div class="fixed bottom-0 left-0 w-full flex justify-center pb-24 z-50">
  <audio controls class="w-[80%] max-w-lg md:w-3/4 lg:w-1/2" autoplay >
    <source src='./Sera por que te amo.mp3' type="audio/mpeg" />
    Tu navegador no soporta el elemento de audio.
  </audio>
</div>