---
// Supports weights 200-800
import '@fontsource-variable/karla';
---

<section class="flex flex-col items-center justify-center mt-10" >
  

  <div id="countdown" class="flex gap-6 text-center text-gray-800" >
    <!-- Aquí se insertarán los valores desde JS -->
  </div>
</section>

<script type="text/javascript">
  const countdown = document.getElementById("countdown");
  const targetDate = new Date("2025-08-09T14:00:00").getTime();

  function updateCountdown() {
    const now = new Date().getTime();
    const distance = targetDate - now;

    if (distance <= 0) {
      countdown.innerHTML = "<span class='text-red-600 text-xl font-semibold'>¡Ya nos Casamossss!!</span>";
      clearInterval(timer);
      return;
    }

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    countdown.innerHTML = `
    
      <div class="" >
        
        <div class="flex gap-12 bg-[#f2f2f2] p-4 rounded-xl" >
        <div class="flex flex-col items-center">
        <span class="text-2xl font-bold">${days}</span>
        <span class="text-sm text-gray-500">Días</span>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-2xl font-bold">${hours}</span>
        <span class="text-sm text-gray-500">Horas</span>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-2xl font-bold">${minutes}</span>
        <span class="text-sm text-gray-500">Min</span>
      </div>
      <div class="flex flex-col items-center">
        <span class="text-2xl font-bold">${seconds}</span>
        <span class="text-sm text-gray-500">Seg</span>
      </div>
    </div>
        </div>
    `;
  }

  updateCountdown();
  const timer = setInterval(updateCountdown, 1000);
</script>

<style>
	body {
	font-family: 'Karla Variable', sans-serif;
  }
</style>