<div class="bg-[#131a22] p-6 text-white gap-2 text-center z-50">
    Desarrollado por <a href="https://nilspineda.com" target="_blank" class="text-white text-xl relative z-10 hover:underline">Nils Pineda</aclass=>
</div> 