---
import { datos } from "./Informacion.astro"
---

<div class="h-dvh flex flex-col items-center justify-center" >
    <img src="manos.svg" alt="manos" class="w-20">
    <h3 class="font-bold text-center text-6xl pb-4 "  data-aos="zoom-in"
     data-aos-easing="linear"
     data-aos-duration="800">Gracias </h3>
    <p class="text-xl text-center text-wrap mx-12"
    data-aos="zoom-out"
     data-aos-easing="linear"
     data-aos-duration="300">{datos.Frase}</p>
</div>
