---
import "../styles/global.css";
import Audio from '../components/Audio.astro';
import Copy from '../components/Copy.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Diana Quesada |Johan Lopez </title>
	</head>
	<body>
		<slot />
		<Audio />
		<Copy />
	</body>
</html>

<style>
	body {
		background: #f3f3f3;
	}
</style>